includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    ignoreErrors:
        - identifier: missingType.generics
        - '#Access to an undefined property (.*?)::\$pivot#'
        - '#Parameter \#1 \$array of function array_pop expects array, list<string>\|false given.#'
        - '#Cannot call method listen\(\) on Illuminate\\Contracts\\Events\\Dispatcher\|null.#'
