<?xml version="1.0" encoding="utf-8" ?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        beStrictAboutOutputDuringTests="true"
        bootstrap="vendor/autoload.php"
        colors="true"
        convertDeprecationsToExceptions="true"
        failOnRisky="true"
        failOnWarning="true"
        verbose="true"
>
    <testsuites>
        <testsuite name="Laravel Eloquent Relationships Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
